<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/images/cloudkeep-icon.ico" />
    <title>CloudKeep</title>
</head>
<body>
    <% if (locals.user) { %>
        <header class="header-logged">
            <a href="/">
                <div class="home-btn">
                    <div class="app-logo">
                        <img src="images/cloudkeep-logo-landscape.png" alt="CloudKeep logo" height="40">
                    </div>
                    <div class="app-name">CloudKeep</div>
                </div>
            </a>
            <div class="header-icons-container">
                <div class="icon">
                    <svg class="exclamation-mark-circle" viewBox="0 0 99.61 99.657" xmlns="http://www.w3.org/2000/svg" height="20" width="20" aria-hidden="true">
                        <path fill="#ff9500" d="M49.805 99.61c27.246 0 49.805-22.608 49.805-49.805C99.61 22.559 77.002 0 49.756 0 22.56 0 0 22.559 0 49.805c0 27.197 22.608 49.804 49.805 49.804Z"></path><path fill="#fff" d="M49.805 58.887c-2.54 0-3.955-1.416-4.004-4.004l-.635-26.612c-.049-2.587 1.856-4.443 4.59-4.443 2.686 0 4.688 1.904 4.639 4.492l-.684 26.563c-.049 2.636-1.465 4.004-3.906 4.004ZM49.805 75.244c-2.93 0-5.469-2.344-5.469-5.225 0-2.88 2.49-5.273 5.469-5.273 2.978 0 5.469 2.344 5.469 5.273 0 2.93-2.54 5.225-5.47 5.225Z"></path>
                    </svg>
                </div>
                <div class="icon">
                    <svg class="plus-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="18" width="18" aria-hidden="true">
                        <path fill="white" d="M29.9475268,59.5867724 C46.1333288,59.5867724 59.534715,46.15661 59.534715,29.9998218 C59.534715,13.8140198 46.1043387,0.412871288 29.9185367,0.412871288 C13.7617248,0.412871288 0.36059406,13.8140198 0.36059406,29.9998218 C0.36059406,46.15661 13.7907743,59.5867724 29.9475268,59.5867724 Z M29.9475268,54.6556041 C16.256299,54.6556041 5.32073466,43.6910496 5.32073466,29.9998218 C5.32073466,16.3085941 16.2273089,5.34403961 29.9185367,5.34403961 C43.6097644,5.34403961 54.5743189,16.3085941 54.6035429,29.9998218 C54.6325367,43.6910496 43.6387545,54.6556041 29.9475268,54.6556041 Z M17.1265367,30.0288119 C17.1265367,31.4501585 18.1417842,32.4073664 19.6211109,32.4073664 L27.4819426,32.4073664 L27.4819426,40.3262377 C27.4819426,41.7765743 28.4682,42.7628318 29.8895466,42.7628318 C31.3398832,42.7628318 32.3551307,41.7765743 32.3551307,40.3262377 L32.3551307,32.4073664 L40.2449525,32.4073664 C41.6952892,32.4073664 42.7105367,31.4501585 42.7105367,30.0288119 C42.7105367,28.5784753 41.6952892,27.5632278 40.2449525,27.5632278 L32.3551307,27.5632278 L32.3551307,19.7023961 C32.3551307,18.1940198 31.3398832,17.2078218 29.8895466,17.2078218 C28.4682,17.2078218 27.4819426,18.2230693 27.4819426,19.7023961 L27.4819426,27.5632278 L19.6211109,27.5632278 C18.1417842,27.5632278 17.1265367,28.5784753 17.1265367,30.0288119 Z" transform="translate(2 2)"></path>
                    </svg>
                </div>
                <div class="icon">
                    <svg class="square-grid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="22" width="22" aria-hidden="true">
                        <path fill="white" d="M2.54982858,9.5141143 L7.18154287,9.5141143 C8.96725716,9.5141143 9.60897144,8.87234287 9.60897144,7.11457144 L9.60897144,2.48285715 C9.60897144,0.697142858 8.96725716,0.0554285715 7.18154287,0.0554285715 L2.54982858,0.0554285715 C0.792000001,0.0554285715 0.150285715,0.697142858 0.150285715,2.48285715 L0.150285715,7.11457144 C0.150285715,8.87234287 0.792000001,9.5141143 2.54982858,9.5141143 Z M19.2350857,9.5141143 L23.8668,9.5141143 C25.6245715,9.5141143 26.2663429,8.87234287 26.2663429,7.11457144 L26.2663429,2.48285715 C26.2663429,0.697142858 25.6245715,0.0554285715 23.8668,0.0554285715 L19.2350857,0.0554285715 C17.4493715,0.0554285715 16.8076572,0.697142858 16.8076572,2.48285715 L16.8076572,7.11457144 C16.8076572,8.87234287 17.4493715,9.5141143 19.2350857,9.5141143 Z M35.8924572,9.5141143 L40.5241715,9.5141143 C42.2819429,9.5141143 42.9237144,8.87234287 42.9237144,7.11457144 L42.9237144,2.48285715 C42.9237144,0.697142858 42.2819429,0.0554285715 40.5241715,0.0554285715 L35.8924572,0.0554285715 C34.1346286,0.0554285715 33.4929143,0.697142858 33.4929143,2.48285715 L33.4929143,7.11457144 C33.4929143,8.87234287 34.1346286,9.5141143 35.8924572,9.5141143 Z M52.5496001,9.5141143 L57.1816001,9.5141143 C58.9673144,9.5141143 59.6090287,8.87234287 59.6090287,7.11457144 L59.6090287,2.48285715 C59.6090287,0.697142858 58.9673144,0.0554285715 57.1816001,0.0554285715 L52.5496001,0.0554285715 C50.7918858,0.0554285715 50.1502858,0.697142858 50.1502858,2.48285715 L50.1502858,7.11457144 C50.1502858,8.87234287 50.7918858,9.5141143 52.5496001,9.5141143 Z M2.68931429,26.1714858 L7.32102858,26.1714858 C9.10674287,26.1714858 9.74845716,25.5297143 9.74845716,23.7719429 L9.74845716,19.1402286 C9.74845716,17.3824 9.10674287,16.7406857 7.32102858,16.7406857 L2.68931429,16.7406857 C0.931542859,16.7406857 0.289771429,17.3824 0.289771429,19.1402286 L0.289771429,23.7719429 C0.289771429,25.5297143 0.931542859,26.1714858 2.68931429,26.1714858 Z M19.3746286,26.1714858 L24.0062858,26.1714858 C25.7641143,26.1714858 26.4058286,25.5297143 26.4058286,23.7719429 L26.4058286,19.1402286 C26.4058286,17.3824 25.7641143,16.7406857 24.0062858,16.7406857 L19.3746286,16.7406857 C17.5889143,16.7406857 16.9471429,17.3824 16.9471429,19.1402286 L16.9471429,23.7719429 C16.9471429,25.5297143 17.5889143,26.1714858 19.3746286,26.1714858 Z M36.0319429,26.1714858 L40.6636572,26.1714858 C42.4214858,26.1714858 43.0632001,25.5297143 43.0632001,23.7719429 L43.0632001,19.1402286 C43.0632001,17.3824 42.4214858,16.7406857 40.6636572,16.7406857 L36.0319429,16.7406857 C34.2741715,16.7406857 33.6324001,17.3824 33.6324001,19.1402286 L33.6324001,23.7719429 C33.6324001,25.5297143 34.2741715,26.1714858 36.0319429,26.1714858 Z M52.7170287,26.1714858 L57.3210287,26.1714858 C59.106743,26.1714858 59.7484572,25.5297143 59.7484572,23.7719429 L59.7484572,19.1402286 C59.7484572,17.3824 59.106743,16.7406857 57.3210287,16.7406857 L52.7170287,16.7406857 C50.9313144,16.7406857 50.2896001,17.3824 50.2896001,19.1402286 L50.2896001,23.7719429 C50.2896001,25.5297143 50.9313144,26.1714858 52.7170287,26.1714858 Z M2.68931429,42.8567372 L7.32102858,42.8567372 C9.10674287,42.8567372 9.74845716,42.2150001 9.74845716,40.4292858 L9.74845716,35.8254858 C9.74845716,34.0397715 9.10674287,33.3980572 7.32102858,33.3980572 L2.68931429,33.3980572 C0.931542859,33.3980572 0.289771429,34.0397715 0.289771429,35.8254858 L0.289771429,40.4292858 C0.289771429,42.2150001 0.931542859,42.8567372 2.68931429,42.8567372 Z M19.3746286,42.8567372 L24.0062858,42.8567372 C25.7641143,42.8567372 26.4058286,42.2150001 26.4058286,40.4292858 L26.4058286,35.8254858 C26.4058286,34.0397715 25.7641143,33.3980572 24.0062858,33.3980572 L19.3746286,33.3980572 C17.5889143,33.3980572 16.9471429,34.0397715 16.9471429,35.8254858 L16.9471429,40.4292858 C16.9471429,42.2150001 17.5889143,42.8567372 19.3746286,42.8567372 Z M36.0319429,42.8567372 L40.6636572,42.8567372 C42.4214858,42.8567372 43.0632001,42.2150001 43.0632001,40.4292858 L43.0632001,35.8254858 C43.0632001,34.0397715 42.4214858,33.3980572 40.6636572,33.3980572 L36.0319429,33.3980572 C34.2741715,33.3980572 33.6324001,34.0397715 33.6324001,35.8254858 L33.6324001,40.4292858 C33.6324001,42.2150001 34.2741715,42.8567372 36.0319429,42.8567372 Z M52.7170287,42.8567372 L57.3210287,42.8567372 C59.106743,42.8567372 59.7484572,42.2150001 59.7484572,40.4292858 L59.7484572,35.8254858 C59.7484572,34.0397715 59.106743,33.3980572 57.3210287,33.3980572 L52.7170287,33.3980572 C50.9313144,33.3980572 50.2896001,34.0397715 50.2896001,35.8254858 L50.2896001,40.4292858 C50.2896001,42.2150001 50.9313144,42.8567372 52.7170287,42.8567372 Z" transform="translate(2 10.571)"></path>
                    </svg>
                </div>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path fill="white" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                    </svg>
                </div>
            </div>
        </header>
    <% } else { %>
        <header>
            <a href="/">
                <div class="home-btn">
                    <div class="app-logo">
                        <img src="images/cloudkeep-logo-landscape.png" alt="CloudKeep logo" height="40">
                    </div>
                    <div class="app-name">CloudKeep</div>
                </div>
            </a>
            <div class="options-btn">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="34" height="34" fill="white"><title>dots-horizontal</title><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
            </div>
        </header>
        <main>
            <div class="main-content">
                <div class="main-video">
                    <video src="/videos/homepage-video.mp4" width="430" height="388" autoplay playsinline loop muted x-webkit-airplay="deny" title="Animation showing different users’ Memojis surrounded by the icons of the apps the user personally uses most"></video>
                </div>
                <h1 class="main-app-name">CloudKeep</h1>
                <a href="/sign-in">
                    <div class="main-sign-in-btn">Sign In</div>
                </a>
                <h2 class="main-description">The best place for all your photos, files, notes and more.</h2>
            </div>
        </main>
    <% } %>
</body>
</html> 