<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="icon" href="/images/cloudkeep-icon.ico" />
    <title>CloudKeep</title>
</head>
    <% if (locals.user) { %>
        <body class="body-logged">
            <header class="header-logged">
                <a href="/">
                    <div class="home-btn">
                        <div class="app-logo">
                            <img src="images/cloudkeep-logo-landscape.png" alt="CloudKeep logo" height="40">
                        </div>
                        <div class="app-name">CloudKeep</div>
                    </div>
                </a>
                <div class="header-icons-container">
                    <div class="icon">
                        <svg class="exclamation-mark-circle" viewBox="0 0 99.61 99.657" xmlns="http://www.w3.org/2000/svg" height="20" width="20" aria-hidden="true">
                            <path fill="#ff9500" d="M49.805 99.61c27.246 0 49.805-22.608 49.805-49.805C99.61 22.559 77.002 0 49.756 0 22.56 0 0 22.559 0 49.805c0 27.197 22.608 49.804 49.805 49.804Z"></path><path fill="#fff" d="M49.805 58.887c-2.54 0-3.955-1.416-4.004-4.004l-.635-26.612c-.049-2.587 1.856-4.443 4.59-4.443 2.686 0 4.688 1.904 4.639 4.492l-.684 26.563c-.049 2.636-1.465 4.004-3.906 4.004ZM49.805 75.244c-2.93 0-5.469-2.344-5.469-5.225 0-2.88 2.49-5.273 5.469-5.273 2.978 0 5.469 2.344 5.469 5.273 0 2.93-2.54 5.225-5.47 5.225Z"></path>
                        </svg>
                    </div>
                    <div class="icon">
                        <svg class="plus-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="18" width="18" aria-hidden="true">
                            <path fill="white" d="M29.9475268,59.5867724 C46.1333288,59.5867724 59.534715,46.15661 59.534715,29.9998218 C59.534715,13.8140198 46.1043387,0.412871288 29.9185367,0.412871288 C13.7617248,0.412871288 0.36059406,13.8140198 0.36059406,29.9998218 C0.36059406,46.15661 13.7907743,59.5867724 29.9475268,59.5867724 Z M29.9475268,54.6556041 C16.256299,54.6556041 5.32073466,43.6910496 5.32073466,29.9998218 C5.32073466,16.3085941 16.2273089,5.34403961 29.9185367,5.34403961 C43.6097644,5.34403961 54.5743189,16.3085941 54.6035429,29.9998218 C54.6325367,43.6910496 43.6387545,54.6556041 29.9475268,54.6556041 Z M17.1265367,30.0288119 C17.1265367,31.4501585 18.1417842,32.4073664 19.6211109,32.4073664 L27.4819426,32.4073664 L27.4819426,40.3262377 C27.4819426,41.7765743 28.4682,42.7628318 29.8895466,42.7628318 C31.3398832,42.7628318 32.3551307,41.7765743 32.3551307,40.3262377 L32.3551307,32.4073664 L40.2449525,32.4073664 C41.6952892,32.4073664 42.7105367,31.4501585 42.7105367,30.0288119 C42.7105367,28.5784753 41.6952892,27.5632278 40.2449525,27.5632278 L32.3551307,27.5632278 L32.3551307,19.7023961 C32.3551307,18.1940198 31.3398832,17.2078218 29.8895466,17.2078218 C28.4682,17.2078218 27.4819426,18.2230693 27.4819426,19.7023961 L27.4819426,27.5632278 L19.6211109,27.5632278 C18.1417842,27.5632278 17.1265367,28.5784753 17.1265367,30.0288119 Z" transform="translate(2 2)"></path>
                        </svg>
                    </div>
                    <div class="icon">
                        <svg class="square-grid" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" height="22" width="22" aria-hidden="true">
                            <path fill="white" d="M2.54982858,9.5141143 L7.18154287,9.5141143 C8.96725716,9.5141143 9.60897144,8.87234287 9.60897144,7.11457144 L9.60897144,2.48285715 C9.60897144,0.697142858 8.96725716,0.0554285715 7.18154287,0.0554285715 L2.54982858,0.0554285715 C0.792000001,0.0554285715 0.150285715,0.697142858 0.150285715,2.48285715 L0.150285715,7.11457144 C0.150285715,8.87234287 0.792000001,9.5141143 2.54982858,9.5141143 Z M19.2350857,9.5141143 L23.8668,9.5141143 C25.6245715,9.5141143 26.2663429,8.87234287 26.2663429,7.11457144 L26.2663429,2.48285715 C26.2663429,0.697142858 25.6245715,0.0554285715 23.8668,0.0554285715 L19.2350857,0.0554285715 C17.4493715,0.0554285715 16.8076572,0.697142858 16.8076572,2.48285715 L16.8076572,7.11457144 C16.8076572,8.87234287 17.4493715,9.5141143 19.2350857,9.5141143 Z M35.8924572,9.5141143 L40.5241715,9.5141143 C42.2819429,9.5141143 42.9237144,8.87234287 42.9237144,7.11457144 L42.9237144,2.48285715 C42.9237144,0.697142858 42.2819429,0.0554285715 40.5241715,0.0554285715 L35.8924572,0.0554285715 C34.1346286,0.0554285715 33.4929143,0.697142858 33.4929143,2.48285715 L33.4929143,7.11457144 C33.4929143,8.87234287 34.1346286,9.5141143 35.8924572,9.5141143 Z M52.5496001,9.5141143 L57.1816001,9.5141143 C58.9673144,9.5141143 59.6090287,8.87234287 59.6090287,7.11457144 L59.6090287,2.48285715 C59.6090287,0.697142858 58.9673144,0.0554285715 57.1816001,0.0554285715 L52.5496001,0.0554285715 C50.7918858,0.0554285715 50.1502858,0.697142858 50.1502858,2.48285715 L50.1502858,7.11457144 C50.1502858,8.87234287 50.7918858,9.5141143 52.5496001,9.5141143 Z M2.68931429,26.1714858 L7.32102858,26.1714858 C9.10674287,26.1714858 9.74845716,25.5297143 9.74845716,23.7719429 L9.74845716,19.1402286 C9.74845716,17.3824 9.10674287,16.7406857 7.32102858,16.7406857 L2.68931429,16.7406857 C0.931542859,16.7406857 0.289771429,17.3824 0.289771429,19.1402286 L0.289771429,23.7719429 C0.289771429,25.5297143 0.931542859,26.1714858 2.68931429,26.1714858 Z M19.3746286,26.1714858 L24.0062858,26.1714858 C25.7641143,26.1714858 26.4058286,25.5297143 26.4058286,23.7719429 L26.4058286,19.1402286 C26.4058286,17.3824 25.7641143,16.7406857 24.0062858,16.7406857 L19.3746286,16.7406857 C17.5889143,16.7406857 16.9471429,17.3824 16.9471429,19.1402286 L16.9471429,23.7719429 C16.9471429,25.5297143 17.5889143,26.1714858 19.3746286,26.1714858 Z M36.0319429,26.1714858 L40.6636572,26.1714858 C42.4214858,26.1714858 43.0632001,25.5297143 43.0632001,23.7719429 L43.0632001,19.1402286 C43.0632001,17.3824 42.4214858,16.7406857 40.6636572,16.7406857 L36.0319429,16.7406857 C34.2741715,16.7406857 33.6324001,17.3824 33.6324001,19.1402286 L33.6324001,23.7719429 C33.6324001,25.5297143 34.2741715,26.1714858 36.0319429,26.1714858 Z M52.7170287,26.1714858 L57.3210287,26.1714858 C59.106743,26.1714858 59.7484572,25.5297143 59.7484572,23.7719429 L59.7484572,19.1402286 C59.7484572,17.3824 59.106743,16.7406857 57.3210287,16.7406857 L52.7170287,16.7406857 C50.9313144,16.7406857 50.2896001,17.3824 50.2896001,19.1402286 L50.2896001,23.7719429 C50.2896001,25.5297143 50.9313144,26.1714858 52.7170287,26.1714858 Z M2.68931429,42.8567372 L7.32102858,42.8567372 C9.10674287,42.8567372 9.74845716,42.2150001 9.74845716,40.4292858 L9.74845716,35.8254858 C9.74845716,34.0397715 9.10674287,33.3980572 7.32102858,33.3980572 L2.68931429,33.3980572 C0.931542859,33.3980572 0.289771429,34.0397715 0.289771429,35.8254858 L0.289771429,40.4292858 C0.289771429,42.2150001 0.931542859,42.8567372 2.68931429,42.8567372 Z M19.3746286,42.8567372 L24.0062858,42.8567372 C25.7641143,42.8567372 26.4058286,42.2150001 26.4058286,40.4292858 L26.4058286,35.8254858 C26.4058286,34.0397715 25.7641143,33.3980572 24.0062858,33.3980572 L19.3746286,33.3980572 C17.5889143,33.3980572 16.9471429,34.0397715 16.9471429,35.8254858 L16.9471429,40.4292858 C16.9471429,42.2150001 17.5889143,42.8567372 19.3746286,42.8567372 Z M36.0319429,42.8567372 L40.6636572,42.8567372 C42.4214858,42.8567372 43.0632001,42.2150001 43.0632001,40.4292858 L43.0632001,35.8254858 C43.0632001,34.0397715 42.4214858,33.3980572 40.6636572,33.3980572 L36.0319429,33.3980572 C34.2741715,33.3980572 33.6324001,34.0397715 33.6324001,35.8254858 L33.6324001,40.4292858 C33.6324001,42.2150001 34.2741715,42.8567372 36.0319429,42.8567372 Z M52.7170287,42.8567372 L57.3210287,42.8567372 C59.106743,42.8567372 59.7484572,42.2150001 59.7484572,40.4292858 L59.7484572,35.8254858 C59.7484572,34.0397715 59.106743,33.3980572 57.3210287,33.3980572 L52.7170287,33.3980572 C50.9313144,33.3980572 50.2896001,34.0397715 50.2896001,35.8254858 L50.2896001,40.4292858 C50.2896001,42.2150001 50.9313144,42.8567372 52.7170287,42.8567372 Z" transform="translate(2 10.571)"></path>
                        </svg>
                    </div>
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path fill="white" d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" />
                        </svg>
                    </div>
                </div>
            </header>
            <nav>
                <ul>
                    <li>
                        <a href="/recents">
                            <svg fill="#0099ff" viewBox="0 0 102.1480712890625 100.9267578125" version="1.1" xmlns="http://www.w3.org/2000/svg" class="source-list-icon glyph-box" style="height: 15.7564px; width: 15.9471px;"><g transform="matrix(1 0 0 1 -7.470952148437391 85.693359375)"><path d="M59.1797 15.1855C86.7676 15.1855 109.619-7.61719 109.619-35.2539C109.619-62.8418 86.7676-85.6934 59.1309-85.6934C31.543-85.6934 8.74023-62.8418 8.74023-35.2539C8.74023-7.61719 31.5918 15.1855 59.1797 15.1855ZM59.1797 5.27344C36.7188 5.27344 18.7012-12.793 18.7012-35.2539C18.7012-57.7148 36.6699-75.7324 59.1309-75.7324C81.5918-75.7324 99.6582-57.7148 99.707-35.2539C99.707-12.793 81.6406 5.27344 59.1797 5.27344ZM34.4727-29.1992L59.1309-29.1992C61.3281-29.1992 63.0371-30.9082 63.0371-33.0566L63.0371-65.0879C63.0371-67.2363 61.3281-68.9453 59.1309-68.9453C56.9824-68.9453 55.2734-67.2363 55.2734-65.0879L55.2734-36.9141L34.4727-36.9141C32.2754-36.9141 30.6152-35.2539 30.6152-33.0566C30.6152-30.9082 32.2754-29.1992 34.4727-29.1992Z"></path></g></svg>
                            Recents
                        </a>
                    </li>
                    <li>
                        <a href="/browse">
                            <svg fill="#0099ff" viewBox="0 0 112.842041015625 91.9423828125" version="1.1" xmlns="http://www.w3.org/2000/svg" class="source-list-icon glyph-box" style="height: 14.3538px; width: 17.6166px;"><g transform="matrix(1 0 0 1 -11.474042968749927 81.201171875)"><path d="M28.4668 9.76562L109.57 9.76562C118.896 9.76562 124.316 4.3457 124.316-6.10352L124.316-56.2988C124.316-66.748 118.848-72.168 108.301-72.168L62.8906-72.168C59.375-72.168 57.3242-72.998 54.6387-75.1953L51.8066-77.4414C48.3887-80.2734 45.8496-81.2012 40.7715-81.2012L26.9531-81.2012C17.8223-81.2012 12.4512-75.8789 12.4512-65.625L12.4512-6.10352C12.4512 4.3457 17.9199 9.76562 28.4668 9.76562ZM22.0215-64.7949C22.0215-69.2871 24.4629-71.6309 28.8574-71.6309L38.2324-71.6309C41.6992-71.6309 43.7012-70.8496 46.4355-68.6035L49.2676-66.3086C52.6367-63.5254 55.2734-62.5977 60.3516-62.5977L107.764-62.5977C112.256-62.5977 114.746-60.2539 114.746-55.4688L114.746-52.6367L22.0215-52.6367ZM29.0527 0.195312C24.5117 0.195312 22.0215-2.14844 22.0215-6.88477L22.0215-44.1895L114.746-44.1895L114.746-6.88477C114.746-2.14844 112.256 0.195312 107.764 0.195312Z"></path></g></svg>
                            Browse
                        </a>
                    </li>
                    <li>
                        <a href="/shared">
                            <svg fill="#0099ff" viewBox="0 0 143.98681640625 123.5849609375" version="1.1" xmlns="http://www.w3.org/2000/svg" class="source-list-icon glyph-box" style="height: 19.2937px; width: 22.4788px;"><g transform="matrix(1 0 0 1 7.910136718749982 97.0224609375)"><path d="M33.1543-83.9355L94.9707-83.9355C94.6289-88.2812 92.0898-90.625 87.4023-90.625L40.6738-90.625C36.0352-90.625 33.4473-88.2812 33.1543-83.9355ZM23.1934-69.873L104.932-69.873C104.248-74.5117 101.904-77.1484 96.7285-77.1484L31.3965-77.1484C26.2207-77.1484 23.877-74.5117 23.1934-69.873ZM43.1641 20.0195L99.6094 20.0195C110.107 20.0195 115.625 14.5508 115.625 4.15039L115.625-46.0449C115.625-56.4941 110.107-61.9141 99.6094-61.9141L28.4668-61.9141C17.9199-61.9141 12.4512-56.4941 12.4512-46.0449L12.4512-30.2246C14.0137-30.4688 15.625-30.6641 17.2363-30.6641C18.8477-30.6641 20.4102-30.4688 22.0215-30.2246L22.0215-45.2637C22.0215-50 24.5117-52.3438 29.0527-52.3438L99.0234-52.3438C103.516-52.3438 106.055-50 106.055-45.2637L106.055 3.32031C106.055 8.05664 103.516 10.4492 99.0234 10.4492L47.8516 10.4492C46.9238 13.916 45.3125 17.1875 43.1641 20.0195ZM17.2363 26.5625C30.9082 26.5625 42.3828 15.1367 42.3828 1.41602C42.3828-12.3535 31.0059-23.6816 17.2363-23.6816C3.4668-23.6816-7.91016-12.3535-7.91016 1.41602C-7.91016 15.2344 3.4668 26.5625 17.2363 26.5625ZM17.2363 2.53906C12.8418 2.53906 9.42383-1.07422 9.42383-6.05469C9.42383-10.5469 12.8418-14.3066 17.2363-14.3066C21.6309-14.3066 25.0488-10.5469 25.0488-6.05469C25.0488-1.07422 21.6309 2.53906 17.2363 2.53906ZM17.2363 20.2148C10.1562 20.2148 4.58984 16.5039 3.125 13.1836L3.125 12.9395C4.6875 9.91211 9.86328 6.54297 17.2363 6.54297C24.6582 6.54297 29.7852 9.91211 31.3477 12.9883L31.3477 13.1836C29.834 16.5039 24.3652 20.2148 17.2363 20.2148Z"></path></g></svg>
                            Shared
                        </a>
                    </li>
                    <h4>Favourites</h4>
                    <li>
                        <a href="/downloads">
                            <svg fill="#0099ff" viewBox="0 0 112.842041015625 91.9423828125" version="1.1" xmlns="http://www.w3.org/2000/svg" class="source-list-icon glyph-box" style="height: 14.3538px; width: 17.6166px;"><g transform="matrix(1 0 0 1 -11.474042968749927 81.201171875)"><path d="M28.4668 9.76562L109.57 9.76562C118.896 9.76562 124.316 4.3457 124.316-6.10352L124.316-56.2988C124.316-66.748 118.848-72.168 108.301-72.168L62.8906-72.168C59.375-72.168 57.3242-72.998 54.6387-75.1953L51.8066-77.4414C48.3887-80.2734 45.8496-81.2012 40.7715-81.2012L26.9531-81.2012C17.8223-81.2012 12.4512-75.8789 12.4512-65.625L12.4512-6.10352C12.4512 4.3457 17.9199 9.76562 28.4668 9.76562ZM22.0215-64.7949C22.0215-69.2871 24.4629-71.6309 28.8574-71.6309L38.2324-71.6309C41.6992-71.6309 43.7012-70.8496 46.4355-68.6035L49.2676-66.3086C52.6367-63.5254 55.2734-62.5977 60.3516-62.5977L107.764-62.5977C112.256-62.5977 114.746-60.2539 114.746-55.4688L114.746-52.6367L22.0215-52.6367ZM29.0527 0.195312C24.5117 0.195312 22.0215-2.14844 22.0215-6.88477L22.0215-44.1895L114.746-44.1895L114.746-6.88477C114.746-2.14844 112.256 0.195312 107.764 0.195312Z"></path></g></svg>
                            Downloads
                        </a>
                    </li>
                </ul>
            </nav>
            <main class="main-logged">
                <div>
                    this div is inside main
                </div>
            </main>
        </body>
    <% } else { %>
        <body>
            <header>
                <a href="/">
                    <div class="home-btn">
                        <div class="app-logo">
                            <img src="images/cloudkeep-logo-landscape.png" alt="CloudKeep logo" height="40">
                        </div>
                        <div class="app-name">CloudKeep</div>
                    </div>
                </a>
                <div class="options-btn">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="34" height="34" fill="white"><title>dots-horizontal</title><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" /></svg>
                </div>
            </header>
            <main>
                <div class="main-content">
                    <div class="main-video">
                        <video src="/videos/homepage-video.mp4" width="430" height="388" autoplay playsinline loop muted x-webkit-airplay="deny" title="Animation showing different users’ Memojis surrounded by the icons of the apps the user personally uses most"></video>
                    </div>
                    <h1 class="main-app-name">CloudKeep</h1>
                    <a href="/sign-in">
                        <div class="main-sign-in-btn">Sign In</div>
                    </a>
                    <h2 class="main-description">The best place for all your photos, files, notes and more.</h2>
                </div>
            </main>
        </body>
    <% } %>
</html> 