* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

form a {
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
}

a,
a:visited {
    color: #ffffff;
    text-decoration: none;
}

body {
    background-color: #1c1c1e;
    color: #ffffff;
}

header {
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    cursor: pointer;
    margin: 4px;
}

.options-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
}

.main-content {
    width: 512px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-video {
    display: flex;
    justify-content: center;
}

.main-app-name {
    font-size: 100px;
    margin-top: -30px;
}

.main-sign-in-btn {
    border-radius: 20px;
    background-color: #ffffff;
    color: #1c1c1e;
    font-weight: 700;
    width: fit-content;
    min-width: 146px;
    height: 44px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.main-description {
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}

/* the styles below apply if user is logged in  */

.body-logged {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 1fr 20fr;
}

.header-logged {
    background-color: #323236;
    grid-area: 1 / 1 / 2 / 3;
}

.header-icons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 184px;
    position: relative;
}

.header-icons-container > div.icon {
    border-radius: 8px;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-icons-container > div.icon:hover {
    background-color: #4d4d51;
}

.header-icons-container svg {
    width: 22px;
    height: 22px;
}

.user-account-options {
    border-radius: 12px;
    width: 240px;
    height: 183px;
    position: absolute;
    top: 44px;
    right: 4px;
    box-shadow: 0 10px 14px 0px black;
    display: flex;
    flex-direction: column;
}

.user-account-info {
    background-color: #38383b;
    border-radius: 12px 12px 0 0;
    width: 240px;
    height: 72px;
    padding: 12px 14px;
}

.user-account-info .user-fullname {
    font-size: 17px;
    color: #fffffffa;
    font-weight: 600;
    line-height: 25px;
}

.user-account-info .user-email {
    font-size: 14px;
    color: #ffffffa8;
    font-weight: 400;
    line-height: 25px;
}

.user-account-buttons {
    background-color: #1c1c1e;
    border-radius: 0 0 12px 12px;
    color: whitesmoke;
    width: 240px;
    height: 111px;
    padding: 0 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.user-account-buttons > div,
.user-account-buttons > a {
    border-radius: 8px;
    margin: 2px 0;
    padding: 4px 2px;
    display: flex;
    cursor: pointer;
    align-items: center;
}

.user-account-buttons > div:hover,
.user-account-buttons > a:hover {
    background-color: #4d4d5156;
}

.user-account-buttons hr {
    width: 90%;
    margin: auto;
    height: 1px;
    border: none;
    background-color: #343436;
}

.user-account-buttons path {
    fill: #0099ff;
}

.sign-out-button path {
    fill: #ff3037;
}

.sign-out-button div {
    color: #ff3037;
}

.hidden {
    display: none;
}

nav {
    border-right: 1px solid black;
    background-color: #202023;
    grid-area: 2 / 1 / 3 / 2;
    width: 250px;
    padding: 52px 10px 0px;
}

li {
    border-radius: 10px;
    list-style-type: none;
    height: 32px;
    padding-left: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 15px;
    cursor: pointer;
}

li a {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 10px;
}

li a[href="/shared"] {
    margin-left: -4px;
}

li.browse-list-item {
    background-color: #343436;
}

li:hover {
    background-color: #343436;
}

ul h4 {
    color: #b3b3b4;
    margin: 12px 8px 6px;
    font-size: 14px;
}

.main-logged {
    background-color: #1b1b1d;
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.main-icon-buttons-container {
    width: 100%;
    height: 40px;
    display: flex;
}

.main-icon-buttons-container svg {
    height: 20px;
    fill: white;
    cursor: pointer;
}

.left-icons-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.view-select-icon {
    border-radius: 8px;
    width: 50px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-left: 18px;
    cursor: pointer;
}

.view-select-icon:hover {
    background-color: #323236;
}

.view-icon-one {
    width: 12px;
    height: 35px;
}

.view-icon-two {
    width: 9px;
    height: 14px;
}

.mid-icons-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}

.right-icons-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 18px;
    padding-right: 16px;
}

.active-icon path {
    fill: #0099ff;
}

.disabled-icon path {
    fill: #1e4162;
}

.main-title-container {
    height: 62px;
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

.main-title-container svg {
    fill: #b3b3b4;
}

.main-title {
    height: 34px;
    display: flex;
    align-items: center;
}

.items-counter-container {
    height: 17px;
    font-size: 14px;
    color: #FFFFFFA8;
    padding-left: 9px;
}

.main-content-logged {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {    
    width: 100%;
    margin-bottom: auto;
    border-collapse: collapse; /* so the bottom border is visible for every tr, if it's not the last */
}

thead {
    height: 44px;
}

tbody tr {
    height: 41px;
    border-bottom: 1px solid #343436;
}

tbody tr:hover {
    background-color: #343436;
}

tbody tr:last-child {
    border-bottom: none;
}

th {
    border-bottom: 1px solid #343436;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #FFFFFF80;
}

td, th {
    padding: 0 70px;
}

td svg {
    margin-left: -40px;
}

td span {
    margin-left: 14px;
}

td {
    font-size: 14px;
    color: #FFFFFF80;
    cursor: default;
}

td[scope="row"] {
    font-size: 17px;
    color: #fffffffa;
}

td[scope="row"] a {
    cursor: pointer;
}

.file-options {
    margin-left: 10px;
    cursor: pointer;
}

.shared-and-options {
    display: flex;
    align-items: center;
    gap: 90px;
    margin-left: -14px;
}