* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

form a {
    text-decoration: none;
    width: fit-content;
    margin: 0 auto;
}

a,
a:visited {
    text-decoration: none;
}

form a,
form a:visited {
    color: #009AFF;
    text-decoration: none;
}

body {
    background-color: #1c1c1e;
    color: #f5f5f7;
}

header {
    height: 44px;
    display: flex;
    justify-content: space-between;
}

.home-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    color: #ffffff;
    cursor: pointer;
    margin: 4px;
}

.options-btn {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin: 8px;
}

form {
    border-radius: 8px;
    box-shadow: 0 0 34px -6px black;
    
    width: 640px;
    height: 660px;

    margin: 40px auto;
    padding: 40px 0;
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    line-height: 1.5rem;
    overflow: auto;
    gap: 16px;
}

.app-logo-container {
    border: 1px solid red;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.app-logo-container img {
    border: 1px solid white;
}

h2 {
    border: 1px solid deeppink;
    font-weight: 500;
    font-size: 28px;
}

h2 + p {
    border: 1px solid blue;
    text-align: center;
}

.name-container {
    border: 1px solid red;
    display: flex;
    width: 512px;
    gap: 12px;
}

.name-container input {
    border: 1px solid greenyellow;
    width: 100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
.country-container select,
.birth-date-container select {
    border: 1px solid #6e6e73;
    border-radius: 12px;
    background-color: #FFFFFF0A;
    font-size: 17px;
    color: white;
    padding: 18px 16px;
    width: 512px;
    height: 56px;
}

.country-container + p {
    border: 1px solid deeppink;
    width: 512px;
    font-size: 17px;
}

.birth-date-container {
    border: 1px solid red;
    width: 512px;
    display: flex;
    gap: 12px;
}

.birth-date-container select {
    width: 100%;
}

hr {
    width: 512px;
    border: 0.5px solid #424245;
}

input[type="email"] + p {
    width: 512px;
}

.announcements-disclaimer-container,
.apps-disclaimer-container {
    width: 512px;
    margin-bottom: -10px;
}

.announcements-disclaimer-container input + label,
.apps-disclaimer-container input + label {
    margin-left: 8px;
}

.announcements-disclaimer-container + p,
.apps-disclaimer-container + p {
    width: 512px;
    font-size: 0.9rem;
    color: #6e6e73;
    padding-left: 24px;
    line-height: 1rem;
}